{
  "env": {
    "node": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["promise"],
  "rules": {
    "no-console": "off",
    "consistent-return": "off",
    "no-shadow": "off",
    "arrow-parens": "off",
    "quotes": "off",
    "comma-dangle": "off",
    "array-callback-return": "off",
    "implicit-arrow-linebreak": "off",
    "no-param-reassign": "off",
    "no-unused-vars": "off",
    "max-len": "off",
    "operator-linebreak": "off",
    "no-nested-ternary": "off",
    "import/no-useless-path-segments": "off"
  }
}
