# NodejS
node_modules/
npm-debug.log*
package-lock.json

#Bower
bower_components
.bower-cache
.bower-registry
.bower-tmp

# sass
.sass-cache

# Optional npm cache directory
.npm

# API keys and secrets
.env

# sass
.sass-cache

# Uploads folder
src/public/u/*

# Temp folder
src/tmp

# Custom files
src/public/images/custom/*

#docker
docker-compose.override.yml

# Test javascript file and markdown notes
test.js
NOTES.md

# Editors
.idea
.vscode
*.iml
modules.xml
*.ipr

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# OS metadata
.DS_Store
Thumbs.db
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Other
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
pids
logs
results
tmp/*

# Docs
docs/*.gem
docs/.bundle
docs/.sass-cache
docs/_site
docs/Gemfile.lock
